backend\audio_outputs
backend\core\.env
backend\models
backend\Qwen-setup
backend\Qwen3-Embedding-0.6B
backend\Qwen3-TTS-12Hz-0.6B-Base
backend\.env
Admin Info.docx
Assogane_Anaïs_3199628_Huang_Léo_319849_Meddas_Kilian_3198575_Prigent_Nathan_3199547.pdf
code.zip
griffith-college-student-handbook-2024-25.pdf